@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --main-color: ;
  --aux-color: ;
  --bg-main: #000000;
  --bg-aux: #060606;
  --text: #b9b9b9;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: var(--text);
}

h1, .quote p {
    font-size: 20px;
    font-family: 'Bebas Neue';
    letter-spacing: 0.05em;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
}

.bg-container {
    width: 30%;
    min-height: 100vh;
    background-image: url(./img/wp.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.quote {
    background-color: #000000aa;
    width: 100%;
    position: absolute;
    padding: 50px;
    margin-top: 30%;
    text-align: center;
    font-weight: bold;
}

.right {
    width: 70%;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--bg-main);
}

.opening {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 25px;
    padding-top: 140px;
}

.form-container {
    background-color: var(--bg-aux);
    box-shadow: 0px 2px 5px rgb(22, 22, 22, 0.8);
    padding: 25px;
    margin-bottom: 3px;
}

form {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    padding-top: 15px;
    row-gap: 8px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

input {
    width: 25vw;
    border: none;
    border-radius: 2px;
    margin-top: 4px;
    background-color: var(--text);
    color: var(--bg-main)
}

button {
    padding: 6px 46px;
    margin-bottom: 15px;
    background-color: var(--bg-aux);
    border: 1px solid var(--text);
    border-radius: 2px;
    font-size: 16px;
}

.ending {
    background-color: var(--bg-main);
    padding: 25px;
}