/*:root {
  --main-color: ;
  --aux-color ;
  --text: ;
    
}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: row;
}

.bg-container {
    width: 30vw;
    height: 100vh;
    background-image: url(./img/wp.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.quote {
    background-color: #00000045;
    width: 100%;
    position: absolute;
    padding: 50px;
    margin-top: 15vh;
    text-align: center;
    color: white;
}

.content {
 width: 100%;   
}

.opening {
    height: 1fr;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 25px;
    padding-top: 140px;
}

.form-container {
    height: 1fr;
    background-color: #ccb8d1;
    padding: 25px;
}

form {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    padding-top: 15px;
    row-gap: 8px;
}

input {
    width: 200px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.ending {
    height: 100%;
    background-color: lightgray;
    padding: 25px;
}